<meta charset="utf-8" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta
  property="og:image"
  content="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/615474714_1605092927177527_8478741570337437594_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGFIRi5FBIbn6yhhnga11eodirwPWnkNxJ2KvA9aeQ3EgMgZ9gaBv3P5BypyKGLbbPymhzz6V2hayQz_5qEyb5n&_nc_ohc=H1cgT1o26icQ7kNvwGYVG2F&_nc_oc=Adl_-LHM6LLvyDzoaNTFdG6vFifD-mrVwGMQznPfSbWn9OpFVMfZ-R4FA-h0xmtmEIc&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=ifqYk345uSi_hn-RRMpy_w&oh=00_AfpWALFcCtrZBlq_g2E3Plwd5XMC1Jdrx41FoJIEgrBKaA&oe=69702A9B" />

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta name="author" content="{{ site.name }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}
