<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-..."
  crossorigin="anonymous"
  referrerpolicy="no-referrer" />

{% if site.footer-links.email %}
<a href="mailto:{{ site.footer-links.email }}" aria-label="Email">
  <i class="fa-solid fa-envelope"></i>
</a>
{% endif %} {% if site.footer-links.facebook %}
<a
  href="https://www.facebook.com/{{ site.footer-links.facebook }}"
  aria-label="Facebook">
  <i class="fa-brands fa-facebook"></i>
</a>
{% endif %} {% if site.footer-links.github %}
<a href="https://github.com/{{ site.footer-links.github }}" aria-label="GitHub">
  <i class="fa-brands fa-github"></i>
</a>
{% endif %} {% if site.footer-links.instagram %}
<a
  href="https://instagram.com/{{ site.footer-links.instagram }}"
  aria-label="Instagram">
  <i class="fa-brands fa-instagram"></i>
</a>
{% endif %} {% if site.footer-links.tiktok %}
<a
  href="https://www.tiktok.com/@{{ site.footer-links.tiktok }}"
  aria-label="TikTok">
  <i class="fa-brands fa-tiktok"></i>
</a>
{% endif %}
