---
layout: default
---

<style>
  .views {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 20px;
    background-color: var(--quote-bg);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .views:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-2px);
  }

  .views:before {
    content: '👀 ';
    font-size: 24px;
    margin-right: 8px;
  }

  /* Dark mode fix */
  body.dark-mode .views {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }
</style>

<!-- _includes/head.html -->
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>

<script>
  // Your Firebase configuration
  const firebaseConfig = {
    apiKey: 'AIzaSyCK3rp01raN4r6-kSy7M5a7_Xjoiu9oWhs',
    authDomain: 'anduckhmt146-blog.firebaseapp.com',
    databaseURL:
      'https://anduckhmt146-blog-default-rtdb.asia-southeast1.firebasedatabase.app',
    projectId: 'anduckhmt146-blog',
    storageBucket: 'anduckhmt146-blog.firebasestorage.app',
    messagingSenderId: '34623715868',
    appId: '1:34623715868:web:609a920d8af4bab72efdd9',
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var pagePath = window.location.pathname;
    var viewsRef = firebase.database().ref('views' + pagePath);

    viewsRef.transaction(
      function (currentViews) {
        return (currentViews || 0) + 1;
      },
      function (error, committed, snapshot) {
        if (committed) {
          var viewCount = snapshot.val() || 0;
          var viewCountElement = document.querySelector('.views');
          if (viewCountElement) {
            viewCountElement.innerText = 'Total views: ' + viewCount;
          }
        } else {
          console.error('Transaction failed:', error);
        }
      }
    );
  });
</script>

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">{{ content }}</div>

  <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>

  <div class="views"></div>

  {% include disqus.html %}
</article>
